@use 'abstracts/colors' as *;

.month {
  height: 25rem;
  width: 40rem;
  background: rgb(34, 219, 173);
  background: linear-gradient(90deg, rgba(34, 219, 173, 1) 0%, rgba(16, 43, 106, 1) 100%);
  border-radius: 3rem;
  box-shadow: rgb(38, 57, 77) 0px 2rem 3rem -1rem;

  &__title {
    text-align: center;
    color: $white;
  }

  &__holidays {
    list-style: none;
    color: $white;
  }
}
